h1 {
    color:blueviolet;
}

body {
    background-image: url("images/background.jpg");
    background-size:1440px 2500px;
    background-repeat:no-repeat;
}

.page-area {
    position:relative;
    padding-left:340px;
    padding-right:340px;
}

.wild-child-nation-logo {
    background-image: url("images/wildchildnation_logo.png");
    background-repeat: no-repeat;
    background-size:300px 100px;
    position:relative;
    width:400px;
    height:120px;
    margin-top: 120px;
}

.brand-image {
    position:relative;
    float:right;
    margin-right:70px;
}

.linked-in {
    position:relative;
    float:left;
    color:white;
    text-decoration: none;
}

.linked-in-text {
    position:relative;
    margin-top:-17px;
    margin-left:35px;
    font-size: 0.7em;
}

.header ul{
    position:relative;
    display:block;
    list-style-type: none;
    overflow:hidden;
    margin-top:-20px;
    padding-left:0px;
    width:109%;
}

.header ul li{
    font-size: 0.6em;
    background:url("images/menu_bar_middle.png");
    text-align: center;
    float: left;
    width: 12.36%;
    height: 27px;
    padding-top: 13px;
    -moz-border-left-image: url("images/middle.png");
    border-left-width: 0.01px;
    border-left-style: solid;
}

.header ul li:first-child{
    font-size: 0.6em;
    background:url("images/menu_bar_middle.png");
    text-align: center;
    float: left;
    width: 12.36%;
    height: 27px;
    padding-top: 13px;

}

.header ul li:hover{
    font-size: 0.6em;
    background:url("images/menu_bar_over.png");
    text-align: center;
    float:left;
    width:12.36%;
    height:27px;
    padding-top:13px;
}

.side-bar {
    position:absolute;
    margin-top: -15px;
    height:285px;
}

.hp-header img{
    width:107%;
    margin-top:-14px;
    margin-left: 13px;
}

.content-box{
    width:120%;
}

.content-box-1{
    word-wrap: break-word;
    margin-top:30px;
    display: inline-block;
    float:left;
    padding:10px 10px 10px 10px;
    background-image: url("images/content_box.png");
    background-repeat: no-repeat;
    background-size: 230px 400px;
    width:230px;
    height:400px;
}

.content-header {
    text-align: left;
    font-size: 0.8em;
    font-weight: bold;
    color:green;
    margin:5px;
}

.content-image{
    padding:2px;
    margin:8px;
}

.content-image img{
    width:90%;
}

.read-more {
    position:absolute;
    bottom:27px;
    padding-left:142px;
    background-image: url("images/readmore_up.png");
    background-repeat: no-repeat;
    background-size:90px 40px;
    width:90px;
    height:40px;
    margin-left:67px;
}

.read-more:hover {
    position:absolute;
    bottom:27px;
    padding-left:142px;
    background-image: url("images/readmore_over.png");
    background-repeat: no-repeat;
    background-size:90px 40px;
    width:90px;
    height:40px;
    margin-left:67px;
}

.yellow-ruler-bar{
    width:109%;
}

.footer {
    position:absolute;
    margin-top:30px;
    padding-bottom:30px;
    padding-left:170px;
    padding-right: 80px;
}

.footer-area{
    display: inline-block;
    background-image: url("images/graybox.png");
    background-repeat: no-repeat;
    background-size: 200px 50px;
    width:200px;
    height:50px;
}

.footer-logo{
    position:absolute;
}

.social-links {
    position:relative;
    float:right;
    padding:10px;
}

.clr {
    clear:both;
}